@import '../../utilsScss/variables';

.news-item {
  padding: 16px;
  font-weight: 500;
  color: $mainBgColor;
  background-image: url('./images/close-up-man-writing-code-laptop.jpg');

  &__title {
    font-size: 18px;
    line-height: 27px;
  }

  &__data {
    font-size: 12px;
    line-height: 16px;
  }
}
