@import "../../utilsScss/variables";

.header {
  display: flex;
  justify-content: center;
  padding: 20px 0;

  &__contaner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $maxWidth;
    width: 100%;
    font-weight: 400;
  }

  &__info_block {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__help {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
    color: $smallSecondaryText;
  }

  &__tel {
    font-size: 22px;
    line-height: 24px;
  }
}

@media (max-width: 850px) {
  .header {
    padding: 20px 20px;

    &__info_block {
      gap: 20px;
    }

    &__tel {
      font-size: 13px;
    }
  }
}

@media (max-width: 710px) {
  .header {
    padding: 20px 10px;

    &__info_block {
      gap: 10px;
    }
  }
}
