@import "./utilsScss/variables.scss";
@import "./utilsScss/normalize.scss";

body {
  font-family: "Poppins", sans-serif;
  background-color: $mainBgColor;
  color: $dark;
  font-style: normal;
  height: 100vh;
}
